<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/landing.css">
</head>
<body>
    <div class="container">
        <div class="app-name-container">
            <a href="/"><img src="/assets/logos/logo-dark.svg" alt="Aware logo"></a>
        </div>
        <div class="content-container">
            <img class="image-xl" src="/assets/misc_imgs/forbidden.svg" alt="Security guard image">
            <div class="text-container">
                <h6>
                    Looks like you entered the wrong username or password!
                </h6>
                <h6 class="form-last">
                    Please check if Caps Lock is on and double check your spelling.
                </h6>
            </div>
            <a class="button button-primary u-full-width" href="/session/sign-in">SIGN IN</a>
            <a class="button u-full-width" href="/">HOME</a>
        </div>
    </div>
</body>
</html>
