<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/landing.css">
</head>
<body>
    <div class="container">
        <div class="content-container">
            <div class="app-name-container">
                <h1>AWARE APP</h1>
            </div>
            <div class="page-title-container">
                <h3>Sign In</h3>
            </div>
            <div class="form-container">
                <form action="/session" method="POST">

                    <!-- username -->
                    <fieldset>
                        <legend>Username</legend>
                            <input class="input-textbox u-full-width" type="text" name="username"><br/>
                    </fieldset>
                    <!-- password -->
                    <fieldset>
                        <legend>Password</legend>
                            <input class="input-textbox u-full-width" type="password" name="password"><br/>
                    </fieldset>
                    <!-- sign in button -->
                    <div class="button-container">
                        <a class="button button-primary u-full-width" href="/session/sign-in">Sign In</a>
                        <a class="button u-full-width" href="/users/new">Create Account</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>
