<footer>
    <a href="/journal/dash" class="footer left">
        <div class="label-container">
            <img src="/assets/icons/icon-dash.svg" alt="Feed icon">
            <p>Dashboard</p>
        </div>
    </a>
    <a href="/journal/entry/new" class="footer center">
        <div class="label-container">
            <div class="icon-placeholder">a</div>
            <p>New Entry</p>
        </div>
        <div class="plus-button">+</div>
    </a>
    <a href="/journal/dash/<%= today[2] %>/<%= today[0] %>" class="footer right">
        <div class="label-container">
            <img src="/assets/icons/icon-feed.svg" alt="Feed icon">
            <p>All Entries</p>
        </div>
    </a>
</footer>
