<footer>
    <div class="footer-left">
        <p>Journal</p>
    </div>
    <div class="footer-center">
        <p>New Entry</p>
    </div>
    <div class="footer-right">
        <p>Feed</p>
    </div>
</footer>
