<header>
    <div class="logo-container">
        <a href="/">
            <img src="/assets/logos/logo-light.svg" alt="Aware logo">
        </a>
    </div>
    <div class="icon-container u-pull-right">
        <a href="/users/settings">
            <img src="/assets/icons/icon-account.svg" alt="Account settings icon">
        </a>
    </div>
</header>
