<header>
    <a class="link home-link" href="/"><h1 id="app-name">AWARE</h1></a>
</header>


<!-- <div id="header-links-container">
        <div class="account">
            <p>Hello, <%= currentUser.firstName %></p>
            <a class="link header-link" href="/users/edit">Settings</a>
        </div>
        <div class="partition"></div>
        <div class="sign-out">
            <form action="/session?_method=DELETE" method="POST">
                <input class="link header-link" type="submit" value="Sign Out">
            </form>
        </div>
</div> -->
