<header>
    <a class="link" href="/"><h1 id="app-name">AWARE</h1></a>
    <!-- <div id="header-links-container">
        <% if (!currentUser) { %>
            <div class="sign-in">
                <a class="link header-link" href="/session/sign-in">Sign In</a>
            </div>
            <div class="partition"></div>
            <div class="register">
                <a class="link header-link" href="/users/register">Register</a>
            </div>
        <% } else { %>
            <div class="account">
                <p>Hello, <%= currentUser.firstName %></p>
                <a class="link header-link" href="/users/edit">Settings</a>
            </div>
            <div class="partition"></div>
            <div class="sign-out">
                <form action="/session?_method=DELETE" method="POST">
                    <input class="link header-link" type="submit" value="Sign Out">
                </form>
            </div>
        <% } %>
    </div> -->
</header>
