<header>
    <div class="logo-container">
        <a href="/">
            <img src="/assets/logos/logo-light.svg" alt="Aware logo">
        </a>
    </div>
    <div class="icon-container u-pull-right">
        <a href="link">
            <img src="/assets/icons/icon-account.svg" alt="Account settings icon">
        </a>
    </div>
</header>


<!-- <div id="header-links-container">
        <div class="account">
            <p>Hello, <%= currentUser.firstName %></p>
            <a class="link header-link" href="/users/edit">Settings</a>
        </div>
        <div class="partition"></div>
        <div class="sign-out">
            <form action="/session?_method=DELETE" method="POST">
                <input class="link header-link" type="submit" value="Sign Out">
            </form>
        </div>
</div> -->
