body {
    background: var(--light-blue);
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 75%;
    padding: 0;
}

.app-name-container {
    display: flex;
    align-items: center;
    font-family: "Rochester";
    height: 12vh;
    box-sizing: border-box;
}

.app-name-container > a {
    margin: 0;
    padding: 0;
}

.app-name-container img {
    width: 125px;
    margin: 0;
    padding: 0;
}

.hero-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4vh;
}

.image-xl {
    width: 100%;
    height: 40%;
    max-width: 50vh;
    margin: 6vh 0 6vh 0;
}

.image-large {
    width: 90%;
    height: 40%;
    max-width: 50vh;
    margin: 6vh 0 11vh 0;
}

.image-small {
    width: 100%;
    height: 25%;
    max-width: 40vh;
}

.hero-image-container > img {
    width: 100%;
}

h3 {
    color: var(--dark-blue)
}

.form-container {
    width: 100%;
}

form {
    width: 100%;
}

fieldset {
    margin: 0;
}

input[type=text], input[type=password] {
    margin-bottom: .5em;
}

.form-last {
    margin-bottom: 3vh;
}

h6 {
    margin-bottom: .25em;
}

h6.form-last {
    margin-bottom: 5vh;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}
