body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--dark-blue);
    min-height: 100vh;
    background: var(--light-blue);
    box-sizing: border-box;
}

.link {
    color: inherit;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

form {
    max-width: 490px;
}

.form-container {
    display: flex;
    justify-content: center;
}
