<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="container">
        <h1>Dashboard</h1>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>
