<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/landing.css">
</head>
<body>
    <div class="container">
        <div class="content-container">
            <div class="app-name-container">
                <h1>AWARE APP</h1>
            </div>
            <div class="hero-image-container image-large">
                <img class="hero-image" src="/assets/hero-1.jpg" alt="Hero image">
            </div>
            <div class="button-container">
                <a class="button button-primary u-full-width" href="/session/sign-in">Sign In</a>
                <a class="button u-full-width" href="/users/new">Create Account</a>
                <a class="button u-full-width" href="#####">Resources</a>
            </div>
        </div>
    </div>
</body>
</html>
