<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/landing.css">
</head>
<body>
    <div class="container">
        <div class="app-name-container">
            <img src="/assets/logos/logo-dark.svg" alt="Aware logo">
        </div>
        <div class="content-container">
            <div class="page-title-container">
                <h3>Create Account</h3>
            </div>
            <div class="hero-image-container image-small">
                <img class="hero-image" src="/assets/hero/hero-3.svg" alt="Hero image">
            </div>
            <div class="form-container">
                <form action="/users" method="post">
                    <!-- username -->
                    <fieldset>
                            <input class="input-textbox u-full-width" type="text" name="username" id="username-textbox" placeholder="Username" required><br/>
                    </fieldset>
                    <!-- password -->
                    <fieldset>
                            <input class="input-textbox u-full-width" type="password" name="password" id="password-textbox" placeholder="Password" required><br/>
                    </fieldset>
                    <!-- firstName -->
                    <fieldset>
                            <input class="input-textbox u-full-width" type="text" name="firstName" id="firstName-textbox" placeholder="First Name" required><br/>
                    </fieldset>
                    <!-- lastName -->
                    <fieldset class="form-last">
                            <input class="input-textbox u-full-width" type="text" name="lastName" id="lastName-textbox" placeholder="Last Name" required><br/>
                    </fieldset>
                    <!-- HIDDEN defaultFriendsPrivacy -->
                        <input type="hidden" name="defaultFriendsPrivacy" value="0">
                    <!-- HIDDEN defaultGlobalPrivacy -->
                        <input type="hidden" name="defaultGlobalPrivacy" value="0">
                    <!-- submit button -->
                    <div class="button-container">
                        <input class="button button-primary u-full-width" type="submit" value="Create Account">
                        <a class="button u-full-width" href="/">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
