<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Aware</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>

    <div class="container">
        <form action="/users" method="post">
            <!-- username -->
            <label for="username">Username</label>
                <input class="input-textbox" type="text" name="username" id="username-textbox" value="<%= user.username %>"><br/>
            <!-- password -->
            <label for="password">Password</label>
                <input class="input-textbox" type="password" name="password" id="password-textbox"><br/>
            <!-- firstName -->
            <label for="firstName">First Name</label>
                <input class="input-textbox" type="text" name="firstName" id="firstName-textbox" placeholder="First Name"><br/>
            <!-- lastName -->
            <label for="lastName">Last Name</label>
                <input class="input-textbox" type="text" name="lastName" id="lastName-textbox" placeholder="Last Name"><br/>
            <!-- defaultPrivacy -->
            <label for="privacy">Default Sharing Options</label>
                <select class="dropdown" name="privacy">
                    <option value="0" <% if (user.globalPrivacy == 0 ) { %>selected<% } %>>Don't share</option>
                    <option value="1" <% if (user.globalPrivacy == 1 ) { %>selected<% } %>>Only summary</option>
                    <option value="2" <% if (user.globalPrivacy == 2 ) { %>selected<% } %>>Full entry</option>
                </select>
            <!-- submit button -->
                <input class="button cta" type="submit">
        </form>
    </div>

    <%- include('../partials/footer.ejs') %>
</body>
</html>
